@media screen and (max-width: 799px) {
  .app_body {
    display: none;
  }
  .app_login {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .app {
    display: grid;
    place-items: center;
    background-color: #090e11;
    height: 100vh;
  }
  .app_body {
    display: flex;
    background-color: #2a2f32;
    height: 90vh;
    width: 90vw;
    margin-top: -50px;
    box-shadow: -1px 4px 20px -6px rgba(140, 206, 86, 0.61);
  }
  .phone {
    display: none;
  }
}
